REQ-ID: 001
Description: This is a requirement for theraposts to see appointments.
Type: Web
Rationale: Therapists need to be able to work to a schedule
Originator: Shunsuke
Comments: [Shunsuke] This is a comment in the shunsuke=example


