Description: This is a requirement for theraposts to see their appointments
Rationale: Without this appointments will be missed and people will waste their time
Originator: Shunsuke

Description: This is a requirement for theraposts to see appointments
Rationale: Therapists need to be able to work to a schedule
Originator: Shunsuke

